}


body{
    display: flex;
    flex-direction: column;
}


header{
    border-bottom: 1px solid rgb(7, 83, 26);
}


main{
    display: flex;
    flex-direction: row;
    flex: auto;
}

article{
    flex: 2;
    overflow-y: auto;
    margin: 0 auto;
}


aside{
    flex: 1;
    overflow-y: auto;
}
h1 {
	color: blue ;
}

p {
	background-color: dark cyan;
	margin: 20px;
	padding: 80px;
}
